@use "../../mixins"as m;

div.tablero {
    @include m.no-margin;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    >svg {
        width: 100%;
        height: 100%;
    }
    &.blur {
        filter: blur(4px);
    }
}

:root {
    --blancas: #eed5a7;
    --negras: #5a2e04;
}

.color {
    &-claro {
        fill: var(--blancas);
    }

    &-oscuro {
        fill: var(--negras);
    }
}