%no-margin {
    margin: 0;
    padding: 0;
}

html, body {
    @extend %no-margin;
}

#app {
    @extend %no-margin;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}