@use "mixins" as m;

html, body {
    @include m.no-margin;
}

#app {
    @include m.no-margin;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}